<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="m-4">&nbsp;</div>
        <div style="width:100%" class="fixed-bottom bg-primary p-2">
            <h6 class="text-center text-white m-0">
                copyright 2024 TaskApp
            </h6>
        </div>
</body>
</html>
