<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<header>
    <h1 class="text-center text-white bg-primary p-2">Task Management App</h1>
    <% if (!(typeof locals.userId === 'undefined')) {console.log(userId)} %>
    <a href="/">ホーム</a>
    <% if (typeof userId === 'undefined') { %>
        <a href="/login">ログイン</a>
        <a href="/register">新規登録</a>
    <% } else {%>
        <a href="#" onclick="confirmLogout()">ログアウト</a>
        <a href="/list">タスク一覧</a>
        <a href="/add">タスク追加</a>
    <% } %>
</header>
<script>
    function confirmLogout() {
        if (confirm('ログアウトしますか？')) {
            window.location.href = '/logout';
        }
    }
</script>
</html>
