<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ユーザー登録</title>
</head>
<body>
    <%- include('header') %>
    <div class="flash-message">
        <% if (messages.info) { %>
            <h3 class="info">
                <%= messages.info %>
            </h3>
            <% } %>
    </div>
    <div class="user">
        <div class="user-title">
            <h1 class="display-1 text-center">ユーザー登録</h1>
        </div>
        <form class="container" action="/register", method="post">
            <div class="mb-3">
                <label for="name" class="form-label">ユーザー名</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">パスワード</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-info mb-3 mybtn">登録</button>
            </div>
        </form>
    </div>
    <%- include('footer') %>
</body>
</html>
